<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Upload Demo</title>
  </head>
  <body>
    <div class="container">
      <h1>Martini File Upload</h1>
      <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" id="file" multiple="multiple">
        <input type="submit" name="submit" value="Submit">        
      </form>
    </div>
  </body>
</html>
